.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px;

    .menu {

        a {
            font-size: 20px;
            text-transform: capitalize;
            padding: 10px 20px;
            transition: 0.2s;
            color: #000000;
            text-decoration: none;
            position: relative;
            list-style-type: none;

            &.cargo_usuario {
                margin-left: 550px;
                font-size: 25px;
                font-weight: 600;
            }

        }

        li {
            list-style-type: none;
        }



    }
}