<header class="cabecalho">
  <img style="width: 120px; height: 100px;" src="../../../../../assets/logo (3).png">
  <nav class="menu">
      <ul>
          <li>
              <a 
                  href="crud_admin_funcionarios" 
                  class="link_funcionarios" 
                  [ngClass]="{ 'active-link': isActive('/crud_admin_funcionarios') }">
                  Funcionários
              </a>
              <a 
                  href="crud_admin_restaurantes" 
                  class="link_restaurantes" 
                  [ngClass]="{ 'active-link': isActive('/crud_admin_restaurantes') }">
                  Restaurantes
              </a>
              <a 
                  href="crud_admin_receitas" 
                  class="link_receitas" 
                  [ngClass]="{ 'active-link': isActive('/crud_admin_receitas') }">
                  Receitas
              </a>
              <a 
                  href="crud_admin_livros" 
                  class="link_livros" 
                  [ngClass]="{ 'active-link': isActive('/crud_admin_livros') }">
                  Livros
              </a>
              <a class="cargo_usuario">Administrador</a>
              <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"></p-button>
              <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
              <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full"></p-avatar>
          </li>
      </ul>
  </nav>
</header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Funcionários</h2>
            <p-button class="btn_funcionario" (onClick)="showDialog()"   label="Adicionar funcionário"></p-button>
        </div>
    <p-table
    #dt2
    dataKey="id"
    [globalFilterFields]="['nome', 'rg', 'nome_cargo', 'data_adm', 'salario']" 
    [paginator]="true" 
    [rows]="5" 
    [rowsPerPageOptions]="[5,10,20]" 
    [value]="funcionarios"
    [tableStyle]="{ 'min-width': '60rem' }"
    [scrollable]="true"
    scrollHeight="370px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>RG</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>Data de Admissão</th>
                <th>Data de Demissão</th>
                <th>Editar/Deletar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.nome }}</td>
                <td>{{ product.rg }}</td>
                <td>{{ product.nome_cargo }}</td>
                <td>{{ product.salario | currency: 'BRL':'symbol' }}</td>
                <td>{{ product.data_adm | date: 'dd/MM/yyyy'}}</td>
                <td>{{ product.data_egresso | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <p-button 
                    class="btn_pencil" 
                    icon="pi pi-pencil" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="editarFuncionario"
                    (onClick)="abrirModalEdicao(product)"
                    tooltipPosition="bottom"
                     />
                    <p-button 
                    class="btn_trash"  
                    icon="pi pi-trash" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="excluirFuncionario"
                    (onClick)="deletarFuncionario(product.id_funcionario)"
                    tooltipPosition="bottom"
                     />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        placeholder="Pesquisar"
                        (input)="filtroFuncionarios($event)"
                         />
                </p-iconField>
            </div>
        </ng-template>    
    </p-table>
</p-card>
</main>

<p-dialog 
  header="{{ isEditMode ? 'Alterar funcionário' : 'Adicionar funcionário' }}" 
  [modal]="true" 
  [(visible)]="visible" 
  [style]="{ width: '30rem', height: '100%' }" 
  (onHide)="resetarFormulario()">
  
  <form [formGroup]="funcionariosForm">
    <!-- Campos do formulário -->
    <div class="div_geral">
      <label for="username" class="label_modal">Nome*</label><br>
      <input 
        pInputText 
        class="input_modal" 
        type="text" 
        formControlName="nome" 
        placeholder="Digite o nome" />
    </div>

    <div class="div_geral" *ngIf="!isEditMode">
      <label for="username" class="label_modal">Email*</label><br>
      <input 
        pInputText 
        class="input_modal" 
        type="text" 
        formControlName="email" 
        placeholder="Digite o seu email" />
    </div>
    
    <div class="div_geral" *ngIf="!isEditMode">
      <label for="username" class="label_modal">Senha*</label><br>
      <input 
        pInputText 
        class="input_modal" 
        type="password" 
        formControlName="senha" 
        placeholder="Digite sua senha" />
    </div>

    <div class="div_geral">
      <label for="cargo" class="label_modal">Cargo*</label><br>
      <p-dropdown
        id="dropdown_cargos"
        [options]="cargos"
        formControlName="nome_cargo"
        optionLabel="nome"
        placeholder="Selecione um cargo">
      </p-dropdown>
    </div>

    <div class="div_geral">
      <label for="rg" class="label_modal">RG*</label><br>
      <input 
        pInputText 
        class="input_modal" 
        type="text" 
        formControlName="rg" 
        placeholder="Digite o RG" />
    </div>

    <div class="div_geral">
      <label for="salario" class="label_modal">Salário*</label><br>
      <input 
        pInputText 
        class="input_modal" 
        type="number" 
        formControlName="salario" 
        placeholder="Digite o salário" />
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div>
      <p-button 
        label="Voltar" 
        class="button_modal_voltar" 
        (onClick)="visible = false"></p-button>
      <p-button 
        label="{{ isEditMode ? 'Alterar' : 'Adicionar' }}" 
        class="button_modal_save" 
        [disabled]="funcionariosForm.invalid" 
        (onClick)="salvarOuAlterarFuncionario()"></p-button>
    </div>
  </ng-template>
</p-dialog>