<header class="cabecalho">
    <a href="#">
        <h1>
            <img src="../../../../../assets/logo (3).png">
        </h1>
    </a>

        <nav class="menu">
            <ul>
                <li>
                    <a href="crud_admin_funcionarios" class="link_funcionarios">Funcionários</a>
                    <a href="crud_admin_restaurantes" class="link_restaurantes">Restaurantes</a>
                    <a href="crud_admin_receitas" class="link_receitas">Receitas</a>
                    <a href="crud_admin_livros" class="link_livros">Livros</a>
                    <a class="cargo_usuario">Administrador</a>
                        <p-button class="btn_bars" icon="pi pi-bars"></p-button>
                </li>
            </ul>   
        </nav>
</header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Funcionários</h2>
            <p-button class="btn_funcionario"   label="Adicionar funcionário"></p-button>
        </div>
    <p-table
    #dt2
    dataKey="id"
    [globalFilterFields]="['nome', 'cargo', 'dtadmissao']" 
    [paginator]="true" 
    [rows]="5" 
    [rowsPerPageOptions]="[5,10,20]" 
    [value]="products" 
    [tableStyle]="{ 'min-width': '60rem' }"
    [scrollable]="true"
    scrollHeight="370px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Data de Admissão</th>
                <th>Editar/Deletar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.nome }}</td>
                <td>{{ product.cargo }}</td>
                <td>{{ product.dtadmissao}}</td>
                <td>
                    <p-button 
                    class="btn_pencil" 
                    icon="pi pi-pencil" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="editarFuncionario"
                    tooltipPosition="bottom"
                     />
                    <p-button 
                    class="btn_trash"  
                    icon="pi pi-trash" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="excluirFuncionario"
                    tooltipPosition="bottom"
                     />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        placeholder="Pesquisar"
                        (input)="filtroFuncionarios($event)"
                         />
                </p-iconField>
            </div>
        </ng-template>    
    </p-table>
</p-card>
</main>