.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    .menu a {
        font-size: 20px;
        text-transform: capitalize;
        margin: 0px 20px;
        transition: color 0.2s ease-in-out;
        color: #000000;
        text-decoration: none;
        position: relative;
        list-style-type: none;

        &.cargo_usuario {
            margin-left: 550px;
            font-size: 23px;
            font-weight: 600;
        }
    }
    
    .menu a::after {
        content: "";
        position: absolute;
        bottom: -5px; /* Posiciona a linha logo abaixo do texto */
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #FF7F11;
        transition: width 0.3s ease-in-out;
    }
    
    .menu a:hover {
        color: #FF7F11;
    }
    
    .menu a:hover::after {
        width: 100%; /* Linha cresce da esquerda para a direita ao passar o mouse */
    }

    li {
        list-style-type: none;
    }

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

:host ::ng-deep .p-card .p-card-body {
    padding-top: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .btn_receita .p-button {
    background: #FF7F11 !important;
    border: none;
}


:host ::ng-deep .btn_pencil .p-button {
    background: white;
    color: #FF7F11;
    margin-right: 10px;
}

:host ::ng-deep .btn_trash .p-button {
    background: white;
    color: #FF7F11;
}

:host ::ng-deep .btn_bars .p-button {
    color: #FF7F11;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 12px;
    width: 20px;
    outline: none;
}

:host ::ng-deep .p-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5);
    /* foco laranja */
    outline: none;
    /* remove o outline padrão do foco */
}

:host ::ng-deep .p-button:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5);
    /* foco laranja */
    outline: none;
    /* remove o outline padrão do foco */
}

:host ::ng-deep .p-avatar {
    background: #FF7F11;
    color: white;
    margin-left: 12px;
    padding: 23px;
}

.input_modal {
    width: 97%;
    margin: 10px 0px;
}

.label_modal {
    color: white;
}

:host ::ng-deep .button_modal_voltar .p-button {
    color: white;
    background: #CC5E00;
    border: none;
}

:host ::ng-deep .button_modal_save .p-button {
    color: white;
    background: #CC5E00;
    border: none;
}

:host ::ng-deep .p-dialog-content {
    background: #FF7F11;
}

:host ::ng-deep .p-dialog-footer {
    background: #FF7F11;
}

:host ::ng-deep .p-dialog-header {
    background: #FF7F11;
    color: white;
}

:host ::ng-deep .p-dialog-header .p-dialog-header-icon {
    color: white;
    background-color: #FF7F11;
}

:host ::ng-deep .input_modal:focus {
    box-shadow: 0 0 0 0.2rem rgba(249, 165, 75, 0.5);
    /* foco laranja mais claro */
    outline: none;
    /* remove o outline padrão do foco */
}