<header class="cabecalho">
    <img style="width: 120px; height: 100px;" src="../../../../../assets/logo (3).png">
    <nav class="menu">
        <ul>
            <li>
                <a href="crud_admin_funcionarios" class="link_funcionarios"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_funcionarios') }">
                    Funcionários
                </a>
                <a href="crud_admin_restaurantes" class="link_restaurantes"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_restaurantes') }">
                    Restaurantes
                </a>
                <a href="crud_admin_receitas" class="link_receitas"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_receitas') }">
                    Receitas
                </a>
                <a href="crud_admin_livros" class="link_livros"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_livros') }">
                    Livros
                </a>
                <a class="cargo_usuario">Administrador</a>
                <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"></p-button>
                <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
                <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full"></p-avatar>
            </li>
        </ul>
    </nav>
</header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Livros</h2>
            <p-button class="btn_receita" (onClick)="showDialog()" label="Adicionar livro"></p-button>
        </div>
        <p-table #dt2 dataKey="id" [globalFilterFields]="['nomeLivro', 'autorLivro', 'isbn']" [paginator]="true"
            [rows]="5" [rowsPerPageOptions]="[5,10,20]" [value]="livro" [tableStyle]="{ 'min-width': '55rem' }"
            [scrollable]="true" scrollHeight="370px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome do livro</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th>Funcionalidades</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.titulo }}</td>
                    <td>{{ product.autorLivro }}</td>
                    <td>{{ product.cod_isbn }}</td>
                    <td>
                        <p-button class="btn_pencil" icon="pi pi-eye" [rounded]="true" [text]="true" [raised]="true"
                            [pTooltip]="visualizarLivro" tooltipPosition="bottom" />
                        <!-- (click)="criacaoPDF(product.id)" -->
                        <p-button class="btn_pencil" icon="pi pi-download" [rounded]="true" [text]="true"
                            [raised]="true" [pTooltip]="baixarLivro" tooltipPosition="bottom">
                        </p-button>
                        <!-- (click)="baixarPDF()" -->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Pesquisar" (input)="filtroReceitas($event)" />
                    </p-iconField>
                </div>
            </ng-template>
        </p-table>
    </p-card>
</main>
<p-dialog header="Criar Livro" [(visible)]="visible" [style]="{width: '450px'}">
    <form [formGroup]="livrosForm" (ngSubmit)="adicionarLivro()">
        <div class="field">
            <label for="titulo">Título</label>
            <input id="titulo" pInputText formControlName="titulo" class="input_modal" placeholder="Título do Livro" />
        </div>
        <div class="field">
            <label for="isbn">ISBN</label>
            <input id="isbn" pInputText formControlName="cod_isbn" class="input_modal" placeholder="Código ISBN" />
        </div>
        <div class="field">
            <label for="receitas">Receitas</label>
            <p-multiSelect formControlName="receitas" [options]="receitas" placeholder="Selecione as receitas"
                optionLabel="nome" display="chip" class="input_modal" [showClear]="true"
                [style]="{'width': '420px'}"></p-multiSelect>
        </div>
        <p-footer>
            <p-button label="Voltar" class="button_modal_voltar" (onClick)="visible = false" />
            <p-button label="Adicionar" class="button_modal_save" (onClick)="adicionarLivro()" />
        </p-footer>
    </form>
</p-dialog>