<header class="cabecalho">
    <img style="width: 120px; height: 100px;" src="../../../../../assets/logo (3).png">
    <nav class="menu">
        <ul>
            <li>
                <a 
                    href="crud_admin_funcionarios" 
                    class="link_funcionarios" 
                    [ngClass]="{ 'active-link': isActive('/crud_admin_funcionarios') }">
                    Funcionários
                </a>
                <a 
                    href="crud_admin_restaurantes" 
                    class="link_restaurantes" 
                    [ngClass]="{ 'active-link': isActive('/crud_admin_restaurantes') }">
                    Restaurantes
                </a>
                <a 
                    href="crud_admin_receitas" 
                    class="link_receitas" 
                    [ngClass]="{ 'active-link': isActive('/crud_admin_receitas') }">
                    Receitas
                </a>
                <a 
                    href="crud_admin_livros" 
                    class="link_livros" 
                    [ngClass]="{ 'active-link': isActive('/crud_admin_livros') }">
                    Livros
                </a>
                <a class="cargo_usuario">Administrador</a>
                <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"></p-button>
                <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
                <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full"></p-avatar>
            </li>
        </ul>
    </nav>
  </header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Livros</h2>
            <p-button class="btn_receita" (onClick)="showDialog()" label="Adicionar livro"></p-button>
        </div>
    <p-table
    #dt2
    dataKey="id"
    [globalFilterFields]="['nomeLivro', 'autorLivro', 'isbn']" 
    [paginator]="true" 
    [rows]="5" 
    [rowsPerPageOptions]="[5,10,20]" 
    [value]="livro" 
    [tableStyle]="{ 'min-width': '55rem' }"
    [scrollable]="true"
    scrollHeight="370px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nome do livro</th>
                <th>Autor</th>
                <th>ISBN</th>
                <th>Funcionalidades</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.nomeLivro }}</td>
                <td>{{ product.autorLivro }}</td>
                <td>{{ product.isbn }}</td>
                <td>
                    <p-button 
                    class="btn_pencil" 
                    icon="pi pi-eye" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true" 
                    [pTooltip]="visualizarLivro"
                    tooltipPosition="bottom"/>
                    <!-- (click)="criacaoPDF(product.id)" -->
                    <p-button 
                    class="btn_pencil" 
                    icon="pi pi-download" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="baixarLivro"
                    tooltipPosition="bottom">
                </p-button>
                <!-- (click)="baixarPDF()" -->
                    <p-button 
                    class="btn_trash"  
                    icon="pi pi-pencil" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true" 
                    [pTooltip]="editarLivro"
                    tooltipPosition="bottom"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        placeholder="Pesquisar"
                        (input)="filtroReceitas($event)"
                         />
                </p-iconField>
            </div>
        </ng-template>    
    </p-table>
</p-card>
</main>
<p-dialog header="Cadastrar livro" [modal]="true" [(visible)]="visible" [style]="{ width: '20rem' }">
    <div class="">
        <label for="username" class="label_modal">Nome do livro</label><br>
        <input pInputText class="input_modal" [placeholder]="inserirLivro" autocomplete="off" />
    </div>
    <div class="">
        <label for="email" class="label_modal">Autor</label><br>
        <input pInputText class="input_modal" [placeholder]="inserirAutor" autocomplete="off" />
    </div>
    <div class="">
        <label for="email" class="label_modal">ISBN</label><br>
        <input pInputText class="input_modal" [placeholder]="inserirISBN" autocomplete="off" />
    </div>
    <ng-template pTemplate="footer">
        <div>
            <p-button label="Voltar" class="button_modal_voltar" (onClick)="visible = false" />
            <p-button label="Adicionar" class="button_modal_save" (onClick)="visible = false" />
        </div>
    </ng-template>
</p-dialog>