<main>
    <div class="content" id="home">
        <img src="../../../assets/logo_melhorzinha.png" class="img_logo" alt="Imagem degustador">
        <hr class="links_separar">
        <div class="form">
            <form [formGroup]="loginForm">
                <label for="" class="texto">Email</label><br>
                <input class="entrada_login"
                formControlName="email"
                inputName="email"
                type="email"
                placeholder="Insira seu email"/><br>
                <Label class="texto">Senha</Label><br>
                <input class="entrada_login"
                formControlName="password"
                inputName="password"
                type="password"
                 placeholder="Insira sua senha"/><br>
                <div class="links">
                    <button class="links_texto_senha" (click)="senha()">Esqueci a minha senha</button>
                    <button class="links_texto_cadastro" (click)="navigate()">Não possui login?</button>
                </div>
                <button class="btn_enviar" (click)="submit()">Login</button>
            </form>
        </div>
    </div>
</main>
