main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
input:-ms-input-placeholder  {
    font-size:17px;
  }

input::-webkit-input-placeholder {
    font-size:17px;
  }

input:-moz-placeholder {
    font-size:17px;
  }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: #FF7F11;
    border-radius: 57px;
    padding: 16px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    ;
}

.img_logo {
    padding: 30px;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 200px;
}


.links_separar {
    width: 7px;
    height: 400px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-right: 130px;
    margin-left: 50px;
}

.form {
    display: flex;
    justify-content: flex-start;

    .links {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 5px 0px 20px 0px;

        .links_texto_senha {
            cursor: pointer;
            background: none;
            border: none;
        }

        .links_texto_cadastro {
            cursor: pointer;
            background: none;
            border: none;
        }

        .links_texto_cadastro:hover {
            text-decoration: underline;
        }

        .links_texto_senha:hover {
            text-decoration: underline;
        }
    }

    .entrada_login {
        border: none;
        border-radius: 37px;
        width: 300px;
        padding: 15px;
    }

    .texto {
        color: white;
        font-weight:700;
        font-size: 19px;
    }

    .btn_enviar {
        padding: 10px 70px;
        background-color: #CC5E00;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        color: white;
        font-weight: 600;
        margin-left: 55px;
        font-size: 19px;
    }
}