<main>
    <div class="content" id="home">
        <img src="../../../assets/logo (2).png" class="img_logo" alt="Imagem degustador">
        <hr class="links_separar">
        <div class="form">
            <form action="">
                <h2 class="titulo">Redifinição de senha</h2>
                <label for="" class="texto">Email</label><br>
                <input class="entrada_login" placeholder="Insira seu email"/><br>
                <button class="btn_enviar" (click)="test()">Enviar</button>
            </form>
        </div>
    </div>
</main>
