<header class="cabecalho">
    <img style="width: 120px; height: 100px;" src="../../../../../assets/logo (3).png">
    <nav class="menu">
        <ul>
            <li>
                <a href="crud_editor_livros" class="link_livros"
                    [ngClass]="{ 'active-link': isActive('/crud_editor_livros') }">
                    Livros
                </a>
                <a href="crud_editor_receitas" class="link_receitas"
                    [ngClass]="{ 'active-link': isActive('/crud_editor_receitas') }">
                    Receitas
                </a>
                <a class="cargo_usuario">Editor</a>
                <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"></p-button>
                <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
                <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full"></p-avatar>
            </li>
        </ul>
    </nav>
</header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Receitas</h2>
        </div>
        <p-table #dt2 dataKey="id" [globalFilterFields]="['nome', 'nomeCategoria', 'descricao', 'data_inclusao']"
            [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]" [value]="products"
            [tableStyle]="{ 'min-width': '60rem' }" [scrollable]="true" scrollHeight="370px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data de lançamento</th>
                    <th>Ver receita</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.nome }}</td>
                    <td>{{ product.nomeCategoria }}</td>
                    <td>
                        <p class="descricao" [pTooltip]="product.descricao" tooltipPosition="right">
                            {{ product.descricao }}
                        </p>
                    </td>
                    <td>{{ product.data_inclusao | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <p-button class="btn_pencil" icon="pi pi-eye" [rounded]="true" [text]="true" [raised]="true"
                            [pTooltip]="editarReceitas" (click)="verReceita(product)" tooltipPosition="bottom" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Pesquisar" (input)="filtroReceitas($event)" />
                    </p-iconField>
                </div>
            </ng-template>
        </p-table>
    </p-card>
</main>
<form [formGroup]="receitasForm">
    <p-dialog header="Detalhes da receita" [modal]="true" [(visible)]="visibleVerReceita" [style]="{ width: '50rem' }">
        <div class="corpo">
            <div class="detalhes_nome_receita">
                <label class="label_modal">Nome da receita</label><br>
                <input pInputText formControlName="nome_receita" [(ngModel)]="receitaSelecionada.nome"
                    class="input_modal" autocomplete="off" [readonly]="true" [style]="{'width': '100%'}" />
            </div>
            <div class="detalhes_descricao">
                <label class="label_modal">Descrição</label><br>
                <input pInputText formControlName="descricao" [(ngModel)]="receitaSelecionada.descricao"
                    class="input_modal" autocomplete="off" [readonly]="true" [style]="{'width': '100%'}" />
            </div>
            <div class="detalhes_ingredientes">
                <label class="label_modal">Ingredientes</label><br>
                <input pInputText formControlName="ingredientes" [(ngModel)]="receitaSelecionada.ingredientes"
                    class="input_modal" autocomplete="off" [readonly]="true" [style]="{'width': '100%'}" />
            </div>
            <div class="detalhes_modo_preparo">
                <label class="label_modal">Modo de preparo</label><br>
                <input pInputText formControlName="modo_de_preparo" [(ngModel)]="receitaSelecionada.modo_preparo"
                    class="input_modal" autocomplete="off" [readonly]="true" [style]="{'width': '100%'}" />
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <br>
                <p-button label="Voltar" class="button_modal_voltar" (onClick)="visibleVerReceita = false" />
            </div>
        </ng-template>
    </p-dialog>
</form>