.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    
    .menu {

        a {
            font-size: 20px;
            text-transform: capitalize;
            margin: 10px 20px;
            transition: 0.2s;
            color: #000000;
            text-decoration: none;
            position: relative;
            list-style-type: none;

            &.link_funcionarios:focus {
                color: #FF7F11;
               }

               &.link_restaurantes:focus {
                color: #FF7F11;
               }

               &.link_receitas:focus {
                color: #FF7F11;
               }

               &.link_livros:focus {
                color: #FF7F11;
               }

            &.cargo_usuario {
                margin-left: 450px;
                font-size: 23px;
                font-weight: 600;
            }

        }

        li {
            list-style-type: none;
        }



    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

main {
display: flex;
justify-content: center;
}

:host ::ng-deep .p-card .p-card-body{
    padding-top: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .btn_restaurante .p-button {
    background: #FF7F11 !important;
    border: none;
}


:host ::ng-deep .btn_pencil .p-button {
    background: white;
    color: #FF7F11;
    margin-right: 10px;
}

:host ::ng-deep .btn_trash .p-button {
    background: white;
    color: #FF7F11;
}

:host ::ng-deep .btn_bars .p-button {
    color: #FF7F11;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 12px;
    width: 20px;
    outline: none;
}

:host ::ng-deep .p-button:focus {
 box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5); /* foco laranja */
    outline: none; /* remove o outline padrão do foco */
}

:host ::ng-deep .p-button:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5); /* foco laranja */
    outline: none; /* remove o outline padrão do foco */
}

:host ::ng-deep .p-avatar {
    background: #FF7F11;
    color: white;
    margin-left: 12px;
    padding: 23px;
}