<header class="cabecalho">
    <a href="#">
        <h1>
            <img src="../../../../../assets/logo (3).png">
        </h1>
    </a>

        <nav class="menu">
            <ul>
                <li>
                    <a href="crud_admin_funcionarios" class="link_funcionarios">Funcionários</a>
                    <a href="crud_admin_restaurantes" class="link_restaurantes">Restaurantes</a>
                    <a href="crud_admin_receitas" class="link_receitas">Receitas</a>
                    <a href="crud_admin_livros" class="link_livros">Livros</a>
                    <a class="cargo_usuario">Administrador</a>
                    <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"/>
                    <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
                    <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full" />
                </li>
            </ul>   
        </nav>
</header>
<main>
    <p-card>
        <div class="header-content">
            <h2>Restaurantes</h2>
            <p-button class="btn_restaurante" label="Adicionar restaurante" (onClick)="showDialog()"></p-button>
        </div>
    <p-table
    #dt2
    dataKey="id"
    [globalFilterFields]="['nomeRestaurante', 'estadoRestaurante', 'dtadmissao']" 
    [paginator]="true" 
    [rows]="5" 
    [rowsPerPageOptions]="[5,10,20]" 
    [value]="products" 
    [tableStyle]="{ 'min-width': '60rem' }"
    [scrollable]="true"
    scrollHeight="370px"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>
                    Estados
                    <p-columnFilter 
                    field="products" 
                    matchMode="in" 
                    display="menu" 
                    [showMatchModes]="false" 
                    [showOperator]="false" 
                    [showAddButton]="false"
                    [showApplyButton]="true"
                    [showClearButton]="false"
                    
                    >
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect
                            [(ngModel)]="valoresSelecionados" 
                            [options]="products"
                            [filter]="true"
                            [showToggleAll]="false"
                            placeholder="Selecionar" 
                            (onChange)="filtroRest($event.value)"
                            optionLabel="estadoRestaurante">
                            
                                <ng-template let-product pTemplate="item">
                                    <span class="ml-1 mt-1">{{ product.estadoRestaurante }}</span>
                                </ng-template>
                                
                            </p-multiSelect>
                        </ng-template>
                        
                    </p-columnFilter>
                </th>
                <th>Data de Admissão</th>
                <th>Editar/Deletar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.nomeRestaurante }}</td>
                <td>{{ product.estadoRestaurante }}</td>
                <td>{{ product.dtadmissao}}</td>
                <td>
                    <p-button 
                    class="btn_pencil" 
                    icon="pi pi-pencil" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="editarRestaurante"
                    tooltipPosition="bottom"
                     />
                    <p-button 
                    class="btn_trash"  
                    icon="pi pi-trash" 
                    [rounded]="true" 
                    [text]="true" 
                    [raised]="true"
                    [pTooltip]="excluirRestaurante"
                    tooltipPosition="bottom"
                    />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-iconField iconPosition="left" class="ml-auto">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input 
                        pInputText 
                        type="text" 
                        placeholder="Pesquisar"
                        (input)="filtroRestaurantes($event)"
                         />
                </p-iconField>
            </div>
        </ng-template>    
    </p-table>
</p-card>
</main>

<p-dialog header="Adicionar restaurante" [modal]="true" [(visible)]="visible" [style]="{ width: '20rem' }">
    <div class="">
        <label for="username" class="label_modal">Nome</label><br>
        <input pInputText class="input_modal" [placeholder]="inserirRestaurante" autocomplete="off" />
    </div>
    <div class="">
        <label for="email" class="label_modal">Estados</label><br>
        <input pInputText class="input_modal" [placeholder]="inserirEstados" autocomplete="off" />
    </div>
    <div class="">
        <label for="email" class="label_modal">Data de admissão</label><br>
        <input pInputText type="date" class="input_modal" autocomplete="off" />
    </div>
    <ng-template pTemplate="footer">
        <div>
            <p-button label="Voltar" class="button_modal_voltar" (onClick)="visible = false" />
            <p-button label="Adicionar" class="button_modal_save" (onClick)="visible = false" />
        </div>
    </ng-template>
</p-dialog>