<header class="cabecalho">
    <img style="width: 120px; height: 100px;" src="../../../../../assets/logo (3).png">
    <nav class="menu">
        <ul>
            <li>
                <a href="crud_admin_funcionarios" class="link_funcionarios"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_funcionarios') }">
                    Funcionários
                </a>
                <a href="crud_admin_restaurantes" class="link_restaurantes"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_restaurantes') }">
                    Restaurantes
                </a>
                <a href="crud_admin_receitas" class="link_receitas"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_receitas') }">
                    Receitas
                </a>
                <a href="crud_admin_livros" class="link_livros"
                    [ngClass]="{ 'active-link': isActive('/crud_admin_livros') }">
                    Livros
                </a>
                <a class="cargo_usuario">Administrador</a>
                <p-button class="btn_bars" (onClick)="menu.toggle($event)" icon=" pi pi-angle-down"></p-button>
                <p-menu #menu [model]="items" [popup]="true" styleClass="w-full md:w-15rem"></p-menu>
                <p-avatar icon="pi pi-user" class="mr-2" shape="circle" styleClass="w-full"></p-avatar>
            </li>
        </ul>
    </nav>
</header>

<main>
    <p-card>
        <div class="header-content">
            <h2>Receitas</h2>
            <p-button class="btn_receita" (onClick)="showDialog()" label="Adicionar receita"></p-button>
        </div>
        <p-table #dt2 dataKey="id" [globalFilterFields]="['nome', 'nomeCategoria', 'data_inclusao']"
            [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]" [value]="receitas"
            [tableStyle]="{ 'min-width': '60rem' }" [scrollable]="true" scrollHeight="370px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data de lançamento</th>
                    <th>Ver/Editar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.nome }}</td>
                    <td>{{ product.nomeCategoria }}</td>
                    <td>
                        <p class="descricao" [pTooltip]="product.descricao" tooltipPosition="right">
                            {{ product.descricao }}
                        </p>
                    </td>
                    <td>{{ product.data_inclusao | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <p-button class="btn_pencil" icon="pi pi-eye" [rounded]="true" [text]="true" [raised]="true"
                        [pTooltip]="verReceitas" (click)="verReceita(product)"  tooltipPosition="bottom" />
                        <p-button class="btn_pencil" icon="pi pi-pencil" [rounded]="true" [text]="true" [raised]="true"
                            [pTooltip]="editarReceitas" (click)="abrirModalEdicao(product)" tooltipPosition="bottom" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" placeholder="Pesquisar" (input)="filtroReceitas($event)" />
                    </p-iconField>
                </div>
            </ng-template>
        </p-table>
    </p-card>
</main>

<form [formGroup]="receitasForm">
    <p-dialog header="{{ isEditMode ? 'Alterar receita' : 'Adicionar receita' }}"  [modal]="true" [(visible)]="visible"
        [style]="{ width: '80rem', height: '80rem'}">
        <div class="campos_input_menores">
            <div class="div_nome_receita">
                <label class="label_modal">Nome da receita</label><br>
                <input pInputText formControlName="nome" class="input_modal" autocomplete="off"
                    placeholder="Insira o nome de uma receita" [style]="{ width: '22.94rem'}" />
            </div>
            <div class="div_categoria">
                <label class="label_modal">Categoria</label><br>
                <p-dropdown optionLabel="categoria" formControlName="nome_categoria" [options]="categorias"
                    placeholder="Selecione a categoria da receita" />
            </div>
            <div class="div_quantidade_pessoas">
                <label class="label_modal">Quantidade de pessoas</label><br>
                <input pInputText formControlName="num_porcao" class="input_modal" autocomplete="off" type="number"
                    placeholder="Para quantas pessoas?" />
            </div>
        </div>

        <div class="campo_input_maiores">

            <div class="descricao_receitas">
                <label class="label_modal">Descrição da receita</label><br>
                <textarea formControlName="descricao" rows="5" cols="30" pInputTextarea></textarea>
            </div>
            <div class="ingredientes">
                <label class="label_modal">Ingredientes</label><br>
                <div *ngFor="let ingrediente of ingredientes; let i = index" class="ingrediente-item">
                    <input pInputText type="text" formControlName="ingredientes" [(ngModel)]="ingredientes[i].nome" class="input_modal"
                        placeholder="Nome do ingrediente" />
                    <input pInputText type="text" formControlName="ingredientes" [(ngModel)]="ingredientes[i].descricao" class="input_modal"
                        placeholder="Descrição do ingrediente" />
                    <p-button type="button" (click)="removerIngrediente(i)" icon="pi pi-trash" class="remove-btn" />
                </div>
                <button type="button" (click)="adicionarIngrediente()" class="add-btn">Adicionar Ingrediente</button>
            </div>
            <div class="modo_de_preparo">
                <label class="label_modal">Modo de preparo</label><br>
                <textarea formControlName="modo_preparo" rows="5" cols="30" pInputTextarea></textarea>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <p-button label="Voltar" class="button_modal_voltar" (onClick)="visible = false" />
                <p-button label="{{ isEditMode ? 'Alterar' : 'Adicionar' }}"
                class="button_modal_save"
                (onClick)="isEditMode ? alterarReceita() : adicionarReceita()"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</form>

    <!-- <p-dialog header="Detalhes da receita" [(visible)]="visibleVerReceita" [modal]="true" [style]="{ width: '50rem' }">
        <div class="campo_detalhes">
            <div class="detalhes_nome_receita">
                <label class="label_modal">Nome da receita</label><br>
                <input pInputText  [(ngModel)]="receitaSelecionada.nome"
                    class="input_modal" autocomplete="off" [readonly]="true" />
            </div>
            <div class="detalhes_descricao">
                <label class="label_modal">Descrição</label><br>
                <input pInputText  [(ngModel)]="receitaSelecionada.descricao"
                    class="input_modal" autocomplete="off" [readonly]="true" />
            </div>
            <div class="detalhes_ingredientes">
                <label class="label_modal">Ingredientes</label>
                <input pInputText [(ngModel)]="receitaSelecionada.ingredientes"
                    class="input_modal" autocomplete="off" [readonly]="true" />
            </div>
            <div class="detalhes_modo_preparo">
                <label class="label_modal">Modo de preparo</label>
                <input pInputText [(ngModel)]="receitaSelecionada.modo_preparo"
                    class="input_modal" autocomplete="off" [readonly]="true" />
            </div>
            <ng-template pTemplate="footer">
                <div>
                    <br>
                    <p-button label="Voltar" class="button_modal_voltar" (onClick)="visible = false" />
                </div>
            </ng-template>
        </div>
    </p-dialog> -->