.cabecalho {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

    .menu {

        a {
            font-size: 20px;
            text-transform: capitalize;
            margin: 0px 20px;
            transition: 0.2s;
            color: #000000;
            text-decoration: none;
            position: relative;
            list-style-type: none;

            &.link_funcionarios:focus {
                color: #FF7F11;
            }

            &.link_restaurantes:focus {
                color: #FF7F11;
            }

            &.link_receitas:focus {
                color: #FF7F11;
            }

            &.link_livros:focus {
                color: #FF7F11;
            }

            &.cargo_usuario {
                margin-left: 550px;
                font-size: 23px;
                font-weight: 600;
            }

        }

        li {
            list-style-type: none;
        }



    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

:host ::ng-deep .p-card .p-card-body {
    padding-top: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .btn_receita .p-button {
    background: #FF7F11 !important;
    border: none;
}


:host ::ng-deep .btn_pencil .p-button {
    background: white;
    color: #FF7F11;
    margin-right: 10px;
}

:host ::ng-deep .btn_trash .p-button {
    background: white;
    color: #FF7F11;
}

:host ::ng-deep .btn_bars .p-button {
    color: #FF7F11;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 12px;
    width: 20px;
    outline: none;
}

:host ::ng-deep .p-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5);
    /* foco laranja */
    outline: none;
    /* remove o outline padrão do foco */
}

:host ::ng-deep .p-button:hover {
    box-shadow: 0 0 0 0.2rem rgba(255, 127, 17, 0.5);
    /* foco laranja */
    outline: none;
    /* remove o outline padrão do foco */
}

:host ::ng-deep .p-avatar {
    background: #FF7F11;
    color: white;
    margin-left: 12px;
    padding: 23px;
}

.descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.input_modal {
    width: 97%;
    margin: 2px 0px;
}
.label_modal{
    color: #FF7F11;
}

:host ::ng-deep .button_modal_voltar .p-button {
margin-top: 1.2rem;
color: #FF7F11;
background: none;
border: solid 1px #FF7F11;
}
:host ::ng-deep .button_modal_save .p-button {
    color: white;
    background: #FF7F11;
    border: none;
}

.campos_input_menores {
    display: flex;
    margin-top: 0.5rem;
    gap: 20px
}

.campo_input_maiores {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 20px;
}

:host ::ng-deep .p-dropdown {
    margin: 2px 0px;
}
// :host ::ng-deep .p-dialog-content {
    
// }
:host ::ng-deep .p-dialog-footer {
    border-top: 0.1px solid #d0cece;
}
:host ::ng-deep .p-dialog-header {
    color: #FF7F11;
    border-bottom: 0.1px solid #d0cece;
}
:host ::ng-deep .p-dialog-header .p-dialog-header-icon {
    color: #FF7F11;
}
:host ::ng-deep .input_modal:focus{
    box-shadow: 0 0 0 0.2rem rgba(249, 165, 75, 0.5);  /* foco laranja mais claro */
    outline: none; /* remove o outline padrão do foco */
}

div_nome_receita {
    padding: 0;
    margin: 0;
}

:host ::ng-deep .p-fileupload-choose {
background: #FF7F11;
border: none;
}

.label_modal_maior {
    margin-top: 100px;
}